:root {
  --font-family: "Inter", sans-serif;

  --background: #000b14;
  --foreground: #171717;

  --primary: #ff3366;

  --white: #ffffff;
  --gray: #8f889e;

  --success: #22c55e;
  --error: #ef4444;
  --warning: #f59e0b;
  --info: #3b82f6;

  --radius-sm: 8px;
  --radius-md: 14px;
}