.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  border: none;
  border-radius: 6px;

  cursor: pointer;

  transition: all 0.2s;
}

.button:hover {
  opacity: 0.9;
}

.primary {
  background: var(--primary-color);
  color: #ffffff;
}

.primary:hover {
  color: var(--background);
}

.integrations {
  border: 1px solid gray;
  color: #ffffff;
}

.integrations:hover {
  color: var(--primary-color);
}

.sm {
  padding: 8px 16px;
  font-size: 14px;
}

.md {
  padding: 12px 24px;
  font-size: 16px;
}

.lg {
  padding: 16px 32px;
  font-size: 18px;
}

.icon {
  display: flex;
  align-items: center;
}

.fullWidth {
  width: 100%;
}
